import React from 'react';
import Breweries from '../../components/Breweries';

export default class HomePage extends React.Component {

	constructor(props) {
    super(props);

    this.state = {
    	breweries: [],
    	isLoaded:true,
    };
  } 

  componentDidMount() {
        fetch('https://api.openbrewerydb.org/breweries')
        .then(res => res.json())
        .then((data) => {
          this.setState({ breweries: data })
        })
        .catch(console.log)
      }
      
    

    	render() {
        return (
          <Breweries breweries={this.state.breweries} />
        )
      }
  }
  //test a d3awi lebla 
             
         
         
    		 	
        
    	

